* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #f6f8f9;
}

span {
    display: inline-block;
}

section {
    margin-bottom: 45px;
}

/* HEADER */
img {
    margin-left: 3%;
    vertical-align: middle;
}

header {
    height: 80px;
    line-height: 80px;
    background-color: white;
}

h1 {
    margin: 0;
    display: inline-block;
}



/* SECTION MAIN HEADER */
#main-header {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    padding: 1% 3% 0% 3%;
    border-bottom: 4px solid #f6f8f9;
}

#main-header > span {
    height: 40px;
    width: 130px;
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#add-task {
    background-color: #47adf1;
    color: white;
}

#add-section {
    border: 1px solid #e4e7e9;
    color: #e4e7e9;
} 

/* SECTION MAIN PAGE */
.main-page {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 10px;
    padding: 3%;
}

.main-page span{
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 10px 0;
}

h2::before {
    content: '\25BC';
    font-size: 16px;
}

.do::before {
    content: '\2705';
    font-size: 12px;
}

.not-do::before {
    content: '\2715';
    font-weight: 900;
    color: red;
}

.editorial::after, .q1-goals::after, .recruiting::after, .mobile::after, .website::after, .sales::after {
    color: white;
    margin-left: 5px;
    padding: 8px;
    border-radius: 20px;
}

.editorial::after {
    content: 'Editorial';
    background-color: #45abea;
}

.q1-goals::after {
    content: 'Q1 goals';
    background-color: #9b71e3;
}

.recruiting::after {
    content: 'Recruiting';
    background-color: #64c0a9;
}

.mobile::after {
    content: 'Mobile';
    background-color: #f29e33;
}

.website::after {
    content: 'Website';
    background-color: #d863a1;
}

.sales::after {
    content: 'Sales';
    background-color: #b0c926;  
}